@tailwind base;
@tailwind components;
@tailwind utilities;

details summary::-webkit-details-marker {
    display: none;
}

textarea {
    resize: none;
}

.transition-height {
    transition: height 250ms;
}

.transition-opacity {
    transition: opacity 150ms;
}

.article * + p,
.article * + blockquote,
.article * + pre {
    @apply mt-4;
}

.article ol {
    @apply list-decimal;
    @apply ml-8;
    @apply mt-4;
}

.article ul {
    @apply list-disc;
    @apply ml-8;
    @apply mt-4;
}

.hljs {
    @apply leading-normal;
    @apply font-mono;
    @apply border-4;
    @apply border-gray-100;
    @apply p-4;
}

* + blockquote {
    @apply mt-4;
}

pre + blockquote {
    @apply mt-0;
}

.article a {
    @apply text-blue-500;
    @apply underline;
}
